body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}
#box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-mask-image: radial-gradient(circle at 1420px 540px, transparent 0%, transparent 30%, black 32%, black 100%);
    transition: background-color 600ms linear;
}

#box.blue {
    background-color: #004f6d;
}
#box.green {
    background-color: #00a322;
}
#box.yellow {
    background-color: #fff46c;
}
#box.red {
    background-color: #dd0709;
}

#dayword {
    position: absolute;
    bottom: -1080px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    transition: bottom 1s linear;
}
#dayword.active {
    bottom: 0;
    transition: bottom 1s linear;
}
#dayword h2 {
    font-size: 150px;
    margin: 50px 200px;
}
#dayword p {
    font-size: 50px;
    margin: 0 200px 50px;
}

#applause,
#suspense,
#thumbs {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom center;
}
#applause.active {
    background-image: url("applause.gif");
}
#suspense.active {
    background-image: url("suspense.gif");
}
#thumbs.active {
    background-image: url("thumbs.gif");
}
#logo {
    background-image: url("ToastmastersLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 300px;
}
